body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #007bff; /* Color azul para los encabezados */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.añadir-carta {
    padding: 10px 20px;
    background-color: #6f42c1; /* Color morado */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 3px 8px rgba(111, 66, 193, 0.3);
    width: 100%; /* Botón de ancho completo */
}

.añadir-carta:hover {
    background-color: #563d7c; /* Morado más oscuro en hover */
    box-shadow: 0px 4px 12px rgba(86, 61, 124, 0.4);
}
